.cont {
    width: 100vw;
    position: fixed;
    z-index: 900;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cont.scrolled {
    background-color: rgba(90, 90, 90, 90.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.container {
    height: 1.7rem;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideIn 1s ease-out, bounceIn 1s 1s forwards;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
    opacity: 0;
    animation: fadeInNavMenu 1s 0.5s forwards;
}

.container a h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeInText 1s 0.3s forwards, textWave 1s 1s infinite alternate;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease;
}

.nav-menu li a:hover {
    color: #f39c12;
    transform: translateY(-5px);
    letter-spacing: 2px;
}

.nav-menu li a.active {
    color: yellow;
}

.container a h1::after {
    content: '|';
    animation: typingCursor 0.5s step-end infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInNavMenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes textWave {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes typingCursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav-menu-mobile {
    position: absolute;
    right: 4.049rem;
    top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    z-index: 1000;
    background-color: rgb(90, 90, 90);
    width: 15rem;
    height: 25rem;
    padding-top: 2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    animation: sli 0.8s;
}

@keyframes sli {
    0% {
        transform: translateX(90%);
    }

    100% {
        transform: translateX(0%);
    }
}

.nav-menu-mobile li a.active {
    color: yellow;
}

.nav-menu-mobile a {
    color: white;
    font-size: 1.2rem;
}

.hamburger {
    height: 3rem;
    width: fit-content;
    margin-right: 3rem;
    filter: brightness(0) invert(1);
}

.no-menu {
    display: none;
}

@media screen and (max-width :1000px) {
    .nav-menu {
        display: none;
    }

    .nav-menu-mobile {
        display: flex;
        z-index: 1000;
    }
}

@media screen and (max-width :500px) {
    .container a h1 {
        font-size: 1.3rem;
    }

    .hamburger {
        height: 2.1rem;
        margin-right: 4rem;
    }
}

@media screen and (min-width :1000px) {
    .hamburger {
        display: none;
    }
}